<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar :: header"></head>
	<nav th:replace="navbar :: navbar"></nav>
<body>
    <div class="container">
        <h2>Company List</h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone Number</th>
                    <th>Website</th>
                    <th>Public Email</th>
                    <th>Logo Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="company : ${companies}">
                    <td th:text="${company.nameCompany}"></td>
                    <td th:text="${company.adresseCompany}"></td>
                    <td th:text="${company.cityCompany}"></td>
                    <td th:text="${company.phoneCompany}"></td>
                    <td th:text="${company.webSiteCompany}"></td>
                    <td th:text="${company.publicEmail}"></td>
                    <td>
                        <img th:src="@{'data:image/jpeg;base64,' + T(org.apache.commons.codec.binary.Base64).encodeBase64String(company.imageLogo)}" alt="Company Logo" width="50" height="50" />
                    </td>
                    <td>
                        <a th:href="@{/company/update/{id}(id=${company.idCompany})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/company/delete/{id}(id=${company.idCompany})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
