<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar :: header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/formatting.css}">
</head>

<body>
	<div th:replace="navbar :: navbar"></div>
    <div class="container">
        <h2 class="mt-4">Welcome to JobMastery</h2>
        
        <p>
            JobMastery is a comprehensive platform designed to revolutionize the way job seekers and employers connect. Whether you're a skilled professional seeking new career opportunities or a company looking for the perfect candidate, JobMastery is here to make your job search or hiring process effortless and efficient.
        </p>
        
        <h3>Purpose</h3>
        
        <p>
            At JobMastery, we understand the challenges job seekers face in finding the right job that matches their skills, localization, and domain. Likewise, we recognize the difficulties employers encounter in identifying top talent within their industry. With this in mind, JobMastery was created with four key purposes:
        </p>
        
        <ol>
            <li>
                <strong>Empowering Job Seekers:</strong> We believe in empowering job seekers with the tools they need to succeed in their job search. Through our advanced search functionality, individuals can easily explore a vast array of job opportunities tailored to their specific requirements. Whether you're a seasoned professional or just starting your career journey, JobMastery provides the resources and guidance you need to find your dream job.
            </li>
            <li>
                <strong>Streamlining Time Management:</strong> Finding a job can be a time-consuming process, requiring careful organization and management. JobMastery simplifies this process by offering a personalized dashboard where users can efficiently track their applications, set reminders for important deadlines, and stay organized throughout their job search. Our platform ensures that you never miss an opportunity or lose track of your progress.
            </li>
            <li>
                <strong>Enabling Seamless Recruitment:</strong> We understand that employers face the challenge of finding the perfect fit for their organizations. With JobMastery, companies can access a pool of highly skilled candidates whose profiles align with their specific requirements. Our intelligent matching algorithm considers skills, experience, and domain expertise to connect employers with the most qualified individuals. Save time and resources by easily shortlisting and engaging with potential candidates through our user-friendly interface.
            </li>
            <li>
                <strong>Simplifying Application and Interview Process:</strong> JobMastery aims to simplify the application and interview process for both job seekers and employers. We provide a seamless and user-friendly application submission feature, allowing candidates to apply for jobs effortlessly. Additionally, our platform facilitates easy interview scheduling, ensuring smooth communication and coordination between employers and job seekers.
            </li>
        </ol>
        
        <p>
            Discover the next level of job search and recruitment with JobMastery. Take advantage of our innovative features, expert guidance, and extensive network to unlock your professional potential or find exceptional talent for your organization. Join us today and experience a smarter, more efficient approach to job mastery.
        </p>
        
        <p>
            Start your journey with JobMastery and let us help you achieve your career aspirations or find the ideal candidate for your company. Together, we'll make your job search or recruitment process a resounding success.
        </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHq1dM8jyU6t04T0z0PnW1qp0Ui+Gkt/zC6gg7o6gVx8b0N27p1ck+Lq" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUc8vEFsMq0sV+0OqnmEYNt8mBjPhrl+s+XuFaaD5GDK6" crossorigin="anonymous"></script>
</body>
</html>
